.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    width: 100vw;
}

.coin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;
    padding: 2em;
    width: 80vw;
}

.refresh-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20em;
    height: 3em;
    border-radius: 0.5em;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}